
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/rust/tags/
image: "rust:latest"

variables:
  # Cache Cargo data to speed up builds
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo
  # Treat warnings as errors
  RUSTFLAGS: -Dwarnings

default:
  interruptible: true
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .cargo
      - target

# Run format check in parallel
cargo:fmt:
  script:
    - rustup component add rustfmt
    - cargo fmt --check

# Run clippy linter
cargo:clippy:
  script:
    - rustup component add clippy
    - cargo clippy

# Use cargo to test the project
cargo:test:
  needs: ["cargo:clippy", "cargo:fmt"]
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo test --workspace --verbose

